# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="Images/pic1.png"/>

Then you will want to run the above command:

<img src="Images/pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [1]:
#Importing everything we'll need

#General Packages
import math
import json
import os
import datetime

#PyData Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

#Sklearn Packages
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler, Imputer
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering

#Magic Commands
%matplotlib inline

In [2]:
#Reading in the json files
portfolio = pd.read_json('data/portfolio.json', orient = 'records', lines = True)
profile = pd.read_json('data/profile.json', orient = 'records', lines = True)
transcript = pd.read_json('data/transcript.json', orient = 'records', lines = True)

### Initial Analysis & Data Preproccesing
###### With our packages and data imported, we'll move on by performing a lightweight analysis on the dataset to determine what pieces need preprocessed before we move on into the next section. We'll do this for each of our three datasets.

In [3]:
#Looking at the first fiew rows of the portfolio dataset
portfolio.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [4]:
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reward      10 non-null     int64
 1   channels    10 non-null     object
 2   difficulty  10 non-null     int64
 3   duration    10 non-null     int64
 4   offer_type  10 non-null     object
 5   id          10 non-null     object
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes

In [5]:
portfolio['offer_type'].value_counts()

discount         4
bogo             4
informational    2
Name: offer_type, dtype: int64

In [6]:
#Viewing all the channels leveraged
portfolio['channels'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[web, email, mobile, social]    4
[web, email, mobile]            3
[email, mobile, social]         2
[web, email]                    1
Name: channels, dtype: int64


##### Portfolio Clean Up

Since this is a relatively small dataset, there isn't much to  change. That said, we'll clean up these pieces here:

- Change the column name from 'id' to the more descriptive 'offer_id' since the id column is present in our other datasets
    
- One hot encode the 'offer_type' column to work well with our algorithms later
   
- Separate and one hot encode the 'channels' column to also work with our algorithms later

- Drop 'offer_type' and 'channels' columns now that they are one hot encoded

In [7]:
#Changing the column name from 'id' to 'offer_id'
portfolio.rename(columns = {'id': 'offer_id'}, inplace = True)
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reward      10 non-null     int64
 1   channels    10 non-null     object
 2   difficulty  10 non-null     int64
 3   duration    10 non-null     int64
 4   offer_type  10 non-null     object
 5   offer_id    10 non-null     object
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes

In [8]:
#One-hot encoding the offer_type field, fixing a prefix of 'offer'
offer_dummies = pd.get_dummies(portfolio['offer_type'], prefix = 'offer')
portfolio = pd.concat([portfolio,offer_dummies], axis = 1)

#After the changes
portfolio.head()

,reward,channels,difficulty,duration,offer_type,offer_id,offer_bogo,offer_discount,offer_informational
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd,1,0,0
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1,0,0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed,0,0,1
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,0,0
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,0,1,0

In [9]:
#One-hot encoding thw channels field
#Please refer to this post on how to onecode multilabel a column : https://chrisalbon.com/machine_learning/preprocessing_structured_data/one-hot_encode_features_with_multiple_labels

#First initialize the MultiBinarizer Object 
one_hot_channels = MultiLabelBinarizer()

#One hot code the portfolio channel data
seperate_channel = one_hot_channels.fit_transform(portfolio['channels'])

#Building a Dataframe around these channels
channels_df = pd.DataFrame(data = seperate_channel, columns = one_hot_channels.classes_)

#Concatenating the new columns to our primary 'portfolio' DataFrame
p

,reward,channels,difficulty,duration,offer_type,offer_id,offer_bogo,offer_discount,offer_informational,channel_email,channel_mobile,channel_social,channel_web
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd,1,0,0,1,1,1,0
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0,1,0,0,1,1,1,1
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed,0,0,1,1,1,0,1
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,0,0,1,1,0,1
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7,0,1,0,1,0,0,1

In [10]:
#Dropping the now former 'channels' and 'offer_type' columns
portfolio.drop(columns = ['channels', 'offer_type'], axis = 1, inplace = True)

#Viewing our hanges
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   reward               10 non-null     int64
 1   difficulty           10 non-null     int64
 2   duration             10 non-null     int64
 3   offer_id             10 non-null     object
 4   offer_bogo           10 non-null     uint8
 5   offer_discount       10 non-null     uint8
 6   offer_informational  10 non-null     uint8
 7   channel_email        10 non-null     int32
 8   channel_mobile       10 non-null     int32
 9   channel_social       10 non-null     int32
 10  channel_web          10 non-null     int32
dtypes: int32(4), int64(3), object(1), uint8(3)
memory usage: 638.0+ bytes

### Profile Dataset

##### Initial Analysis

In [11]:
# Looking at some random rows
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [12]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               17000 non-null  int64
 2   id                17000 non-null  object
 3   became_member_on  17000 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 664.2+ KB

In [13]:
#Checking gender types and leaving in the nulls
profile['gender'].value_counts(dropna = False)

M      8484
F      6129
NaN    2175
O       212
Name: gender, dtype: int64

In [14]:
#Checking how many unknown ages (118) are in the dataset
(profile['age'] == 118).sum()

2175


##### Profile Clean Up

Because this dataset is bigger, we'll have to make some more changes to it than our previous datasets. These changes include the following:

- Dropping rows with null information
- Changing 'id' column to 'customer_id' name
- Changing the 'became_member_on' column to a date object type
- Calculating number of days that a person has been a member as new 'days_as_member' column as of August 1, 2018
- Creating new 'age_range' column based on 'age'

In [15]:
#Dropping rows with null information
profile.dropna(inplace = True)
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14825 entries, 1 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               14825 non-null  int64
 2   id                14825 non-null  object
 3   became_member_on  14825 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 694.9+ KB

In [16]:
#Changing 'id' column name to more appropriate 'customer_id' name
profile.rename(columns = {'id': 'customer_id'}, inplace = True)
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14825 entries, 1 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               14825 non-null  int64
 2   customer_id       14825 non-null  object
 3   became_member_on  14825 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 694.9+ KB

In [17]:
#Changing 'became_member_on' column to a date type
profile['became_member_on'] = profile['became_member_on'].apply(lambda x: datetime.datetime.strptime(str(x), '%Y%m%d').date())
profile['became_member_on'].head()

1     2017-07-15
3     2017-05-09
5     2018-04-26
8     2018-02-09
12    2017-11-11
Name: became_member_on, dtype: object

In [31]:
#Calculating number of days as a member ending on August 1, 2018 in new column 'days_as_member'
#Special thanks to this post for assistance: https://stackoverflow.com/questions/26072087/pandas-number-of-days-elapsed-since-a-certain-date
end_date = pd.Timestamp('2018-08-01')
end_date = pd.to_datetime(end_date)
profile['days_as_member'] = np.abs((pd.to_datetime(profile['became_member_on']) - end_date).dt.days)

#Viewing results
profile['days_as_member'].head(10)

1      382
3      449
5       97
8      173
12     263
13     324
14    1630
15     902
16    1357
18     213
Name: days_as_member, dtype: int64

In [32]:
#Creating 'age_range' column based on 'age'
#Special thanks to this post for assistance: https://stackoverflow.com/questions/52753613/grouping-categorising-ages-column-in-python-pandas
age_range_labels = ['11-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+']
age_range_bins = [11, 20, 30, 40, 50, 60, 70, 80, 110]
profile['age_range'] = pd.cut(profile['age'], bins = age_range_bins, labels = age_range_labels, right = False)

#Adding a specific order to the age_range_field
#Special thanks to this post for assistance: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Categorical.html
profile['age_range'] = pd.Categorical(profile['age_range'], ordered = True, categories = age_range_labels)

#Testing our results
profile.sample(5)

,gender,age,customer_id,became_member_on,income,days_as_member,age_range
11644,M,55,7c6e3fb8f20a444b949c6d94ace44f02,2016-12-21,73000.0,588,50-59
12770,F,56,abb51bfc362344dfb1b1ad7eb8df1ca1,2018-06-14,40000.0,48,50-59
10994,M,84,bd777dba9c784ff8aa96c2a4531fba1f,2016-09-14,93000.0,686,80+
6779,M,46,423dcd0eef994564a5eb93b450cd13c5,2017-09-05,56000.0,330,40-49
14364,M,47,0cdbae04f7394db9b09a905291336ea6,2016-04-23,53000.0,830,40-49

In [ ]:
channels = np.unique([channel for chans in portfolio['channels'].items() for channel in chans[1]])

In [ ]:
profile.info()

In [ ]:
df1 = portfolio.copy()

In [ ]:
dummy = pd.get_dummies(df1.channels.apply(pd.Series).stack().sum(level = 0))
df1 = pd.concat([df1,dummy],axis = 1)
df1 = df1.drop(columns = 'channels')

In [ ]:
df1 =df1.rename(columns={'id':'offer_id'})
df1

In [ ]:
portfolio.head()

In [ ]:
portfolio['channels']